VITE_SUPABASE_URL=https://cicooufthltzleueloys.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_bBp8VjkHf82Dssyvhl9rRg_mTLLHahs
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpY29vdWZ0aGx0emxldWVsb3lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNjY2NjYsImV4cCI6MjA5Njk0MjY2Nn0.40y08CYd-50WMo4f7p-qczxlkYmngdWmm7OgNDp4woY